<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>codes.tim.SF50-TOLD.refresh</string>
	</array>
	<key>NOTAM_API_BASE_URL</key>
	<string>$(NOTAM_API_BASE_URL)</string>
	<key>NOTAM_API_TOKEN</key>
	<string>$(NOTAM_API_TOKEN)</string>
	<key>OPEN_METEO_API_KEY</key>
	<string>$(OPEN_METEO_API_KEY)</string>
	<key>BAAppGroupID</key>
	<string>group.codes.tim.TOLD</string>
	<key>BAManifestURL</key>
	<string>https://pub-becd30c7b4e24860bee04cbbab788fb3.r2.dev/terrain/terrain-manifest-v3.json</string>
	<key>BAMaxInstallSize</key>
	<integer>9300000000</integer>
	<key>BAEssentialMaxInstallSize</key>
	<integer>0</integer>
	<key>BAInitialDownloadRestrictions</key>
	<dict>
		<key>BADownloadAllowance</key>
		<integer>9300000000</integer>
		<key>BAEssentialDownloadAllowance</key>
		<integer>0</integer>
		<key>BADownloadDomainAllowList</key>
		<array>
			<string>pub-becd30c7b4e24860bee04cbbab788fb3.r2.dev</string>
		</array>
	</dict>
</dict>
</plist>
